.place__paragraph {
    grid-area: paragraph;
    font-weight: normal;
    font-size: 18px;
    margin: 26px 0 0 0;
    padding: 0;
    line-height: 1.63;
}

.place__paragraph:first-of-type {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .place__paragraph {
        font-size: calc((100vw - 768px)/(1000 - 768)*(18 - 16) + 16px);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraph {
        margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
        margin-right: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
    }

    .place__paragraph:first-of-type {
        margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
        margin-right: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
    }
}

@media screen and (max-width: 400px) {
    .place__paragraph {
        font-size: 16px;
    }
}