.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 0.7;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    transition: .5s linear .2s;
}

.place__link:hover {
    opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__link {
        margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
    }
}