.place__url-heading {
    font-weight: normal;
    font-size: 12px;
    line-height: 0.9;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 0 12px 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__url-heading {
        margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
    }
}